@model FBPortal.Domain.Entities.Product
<tr>
    <td>@Model.Number</td>
    <td>@Model.Description</td>
    <td>@Model.Price.ToString("c")</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = @Model.ID }) |
        @Html.ActionLink("Details", "Details", new { id = @Model.ID, returnUrl = Request.Url.PathAndQuery }) |
        @Html.ActionLink("Delete", "Delete", new { id = @Model.ID })
    </td>
</tr>

